.nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

#addButton {
    position: fixed;
    right: 1em;
    bottom: 1em;
    border: 0;
    margin: 0;
    padding: 1em;
    color: #ffffff;
    background: #3BB1CE;
    border-radius: 50%;
    -webkit-transition: all 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
       -moz-transition: all 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
         -o-transition: all 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
            transition: all 150ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

#addButton:hover {
    background: #20478C;
}

#addButton:focus {
    outline: none;
    border: none;
}